SOCKET = '/var/run/mkhomedird.socket'
SOCKET_USER = 'root'
SOCKET_GROUP = 'www-data'
SOCKET_MODE = 0o660

DIRECTORIES = {
                        '{homedir}': {
                                        'create': '/etc/skel',
                                        'delete': True,
                                        },
                        '/storage/public/{name}': {
                                        'create': True,
                                        'delete': True,
                                        },
                        '/storage/.Trash/{uid}': {'delete': True},
                        '/var/guix/profiles/per-user/{name}': {'delete': True},
                        '/storage': { 'deleteGroup': True },
                        }
