SOCKET = '/var/run/usermgrd.socket'
SOCKET_USER = 'root'
SOCKET_GROUP = 'root'
SOCKET_MODE = 0o666

MIN_UID = 10000
MAX_UID = 5000000
MIN_GID = 5000000
MAX_GID = 10000000

# LDAP admin authentication
LDAP_SERVER = 'ldap://ldap'
LDAP_USER = 'cn=psychnotebook,ou=system,dc=psychnotebook,dc=org'
LDAP_PASSWORD = 'XXX'
LDAP_BASE_PEOPLE = 'ou=people,dc=psychnotebook,dc=org'
LDAP_BASE_GROUP = 'ou=group,dc=psychnotebook,dc=org'
LDAP_EXTRA_CLASSES = ['x-signatory']

# Kerberos admin authentication
KERBEROS_USER = 'usermgrd/lucknow'
KERBEROS_KEYTAB = '/etc/clumsy/usermgrd.keytab'
KERBEROS_EXPIRE = 'never'

# User authorized to create new users, without realm.
AUTHORIZATION_CREATE = 'bawwab/lucknow'

# connections to other daemons
NSCDFLUSHD_SOCKET = '/var/run/nscdflushd.socket'
MKHOMEDIRD_SOCKET = '/var/run/mkhomedird.socket'

# home directory
HOME_TEMPLATE = '/storage/home/{user}'
