[Unit]
Description=Prune backup
Requires=backup-prune.service

[Timer]
Unit=backup-prune.service
OnCalendar=*-*-* 05:00:00

[Install]
WantedBy=timers.target
